<h2 class="page-header"><%= book.title %> </h2>
<div class="book-details">
  <div>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
    <div class="book-details-btn-grid">
      <a href="/books/<%= book.id %>/edit" class="btn btn-primary">Editar</a>
      <%- include('../partes/deleteForm', {url: `/books/${book.id}`}) %>
      <a href="/authors/<%= book.author.id %> " 
        class="btn btn-primary book-details-author-button">Ver Author</a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
    <div><%= book.author.name %> </div>
    <div class="book-details-label">Fecha de publicación</div>
    <div><%= book.publishDate.toDateString() %> </div>
    <div class="book-details-label">Páginas</div>
    <div><%= book.pageCount %> </div>
    <div class="book-details-label">Descripción</div>
    <div><%= book.description %> </div>
  </div>
</div>