<h2 class="page-header">Buscar Authores</h2>
<form action="/authors">
  <div class="form-row">
    <div class="form-item">
      <label for="">Nombre</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>

</form>
<br>
<% authors.forEach(author =>{ %>
  <div class="author-row">
    <div class="author-name"><%= author.name %></div>
    <div class="btn-row">
      <a href="/authors/<%= author.id %>" class="btn btn-primary">Ver</a>
      <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Editar</a>
      <%- include('../partes/deleteForm',{url: `/authors/${author.id}` }) %> 
    </div>
  </div>
<% }) %>